body {
  background: url("./assets/images/Background\ stroke.png");
  background-color: antiquewhite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: satisfy;
  src: url("./assets/fonts/Satisfy-Regular.ttf");
}

@font-face {
  font-family: manrope;
  src: url("./assets/fonts/manrope-regular.otf");
}

@font-face {
  font-family: suez;
  src: url("./assets/fonts/SuezOne-Regular.ttf");
}
